h1.name {
    line-height: 0.8em;
}

.service {
    .box {
        position: relative;
        overflow: hidden;
        .extra {
            display: none;
            overflow-y: auto;
            position: absolute;
            background-color: #fff;
            left:0;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 10px;
        }
        &:hover {
            .extra {
                display: block;
            }
        }
    }
}

.blog-list {
    list-style: none;
    text-align: left;
    li:last-child {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
}
